OPENAI_API_KEY=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
GROQ_API_KEY=
HF_TOKEN=
KAFKA_BOOTSTRAP_SERVER_LOCAL=
SCHEMA_REGISTRY_URL=
KAFKA_BOOTSTRAP_SERVER_DOCKER=
SCHEMA_REGISTRY_URL_DOCKER=